web/Gold/Service References/ServiceReference_DeviceService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="WcfTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WcfTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WcfTestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceTestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="light" type="xs:int" />
        <xs:element minOccurs="0" name="sound" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TagControlResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagShow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tags" nillable="true" type="q1:ArrayOfKeyValueOfintdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagShowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TagShowResult" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tags" nillable="true" type="q2:ArrayOfKeyValueOfintdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>